# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
web_modules
node_modules

# testing
/coverage

# production
/build
.build
build

# misc
.DS_Store

npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

stats.json

# editors
.vscode
*.code-workspace
.*.swp
.*.swo