@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:100,300,500,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind media;

/* Custom css */
/* purgecss start ignore */

#App {
  max-width: 1200px!important;
  margin: 0 auto;
}

.blur-heavy {
  filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  color: #a2a2a2;
}

.blur-light {
  filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}

.label {
  @apply text-white rounded-4px bg-grey text-xs px-6px py-1px my-6px;
  width: max-content;
}

.leading-32px {
  line-height: 32px;
}

.toggle-btn .active {
  background-color: white;
  font-weight: bold;
}

/* Allocation Breakdown */

.allocation-breakdown-container {
  @apply my-12 mx-6;
}

.allocation-breakdown-container h1 {
  @apply text-xl;
}

.allocation-breakdown-container .row {
  @apply flex w-100pc;
}

.allocation-breakdown-container .left {
  @apply flex-1 mr-8;
}

.allocation-breakdown-container .right {
  @apply flex-1;
}

/* Balance */

.balance-container {
  @apply flex bg-grey-243 w-100pc rounded-4px p-6;
}

.balance-container .left,
.balance-container .right {
  @apply flex-1;
}

.balance-container .left img {
  @apply h-60px inline;
}

.balance-container .left h1 {
  @apply inline text-xl align-middle pl-2;
}

.balance-container .right span {
  @apply text-sm font-thin text-grey-115 capitalize;
}

.balance-container .right h5 {
  @apply text-lg;
}

/* Etherscan & Quantstamp */

.etherscan-container,
.quantstamp-container {
  @apply bg-grey-243 rounded-4px mt-4 pt-2 pb-4 px-4;
}

.etherscan-container span,
.quantstamp-container span {
  @apply text-xs font-thin text-grey-115;
}

.etherscan-container img,
.quantstamp-container img {
  @apply h-54px;
}

/* Farming */

.farming-container {
  @apply flex rounded-4px mt-4 text-grey-243 overflow-hidden antialiased;
}

.farming-container .left {
  @apply flex-auto p-4;
  background-color: #4e3a64;
}

.farming-container .left img {
  @apply h-70px inline;
}

.farming-container .left h2 {
  @apply inline-block align-middle leading-none text-m-lg pl-2;
}

.farming-container .right {
  @apply flex-auto bg-green text-center leading-none px-4 py-3;
  background-color: #61497f;
}

.farming-container .right h1 {
  font-size: 2.8rem;
}

.farming-container .right span {
  @apply text-xs;
}

/* Footer */

.footer-container {
  @apply content font-secondary;
}

.footer-container .left {
  @apply flex flex-row flex-grow items-center;
}

.footer-container .right {
  @apply flex flex-row flex-grow items-center justify-end;
}

.footer-container .footer-link {
  @apply text-grey-10 no-underline mt-14px text-xxs;
}

.footer-container .footer-link:hover {
  @apply opacity-60;
}

.footer-container .aragon {
  @apply h-30px mt-10px;
}

@screen lg {
  .footer-container .right {
    @apply ml-8;
  }

  .footer-container .footer-link {
    @apply ml-8;
  }

  .footer-container .footer-link:first-child {
    @apply block ml-0;
  }

  .footer-container .aragon {
    @apply ml-20px;
  }
}

@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-container .left {
    flex-direction: column;
  }

  .footer-container .right {
    flex-direction: column;
  }
}

/* Header */

.header-container {
  @apply content font-secondary;
}

.header-container .hamburger {
  @apply border-none no-underline p-0 ml-20px;
}

.header-container .hamburger:hover,
.header-container .hamburger:focus {
  outline: none;
}

.header-container .left {
  @apply flex flex-grow items-center;
}

.header-container .left img {
  @apply h-30px;
}

.header-container .right {
  @apply flex flex-grow items-center justify-end;
}

.header-container .right .link {
  @apply text-grey-10 no-underline ml-8 text-sm hidden;
}

.header-container .right .link:hover {
  @apply opacity-60;
}

.header-container .right .mobile-placeholder {
  @apply hidden;
}

.header-container nav {
  @apply text-center relative top-60pc no-underline;
  /* font-size: 1.2rem; */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-container ul {
  @apply list-none p-0 my-0 mx-auto inline-block h-100pc relative;
}

.header-container ul li {
  @apply block h-20pc min-h-54px;
}

.header-container ul li a {
  @apply font-normal block text-white no-underline;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-transform: lowercase;
}

.header-container ul li a:hover,
.header-container ul li a:focus {
  @apply text-white;
}

@screen lg {
  .header-container .hamburger {
    @apply hidden;
  }

  .header-container .left img {
    @apply h-30px;
  }

  .header-container .right .link {
    @apply block;
  }

  .header-container .right .mobile-placeholder {
    @apply block;
  }

  .header-container .connect-button-container {
    @apply ml-8;
  }
}

/* Info */

.info-container {
  @apply my-12 mx-6;
}

.info-container h1 {
  @apply text-xl;
}

.info-container ul {
  @apply my-4;
}

.info-container ul li {
  @apply text-sm text-grey-115 underline font-thin leading-8;
}

/* Single Pie Landing */
.autosize {
  width: 100%;
  height: 100%;
}

.spl-chart-container {
  height: 500px;
}

.spl .btn {
  border-radius: 6px;
  font-size: 28px;
  font-weight: 200;
  width: 11rem;
}

.spl h1 {
  @apply text-lg w-full mt-8;
  width: 100;
}

.green {
  color: darkgreen;
}

.red {
  color: red;
}

.spl .btn.clear {
    background: white;
    border: 1px solid #fc02a7;
    color: #fc02a7;
}

.spl table td, .spl table th {
  border-color: #edf2f7;
} 

.spl table td > img.icon {
  @apply h-30px;
}

.spark:hover {
  -webkit-animation: filter-animation 5s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2);
  }
  
  50% {
    -webkit-filter: sepia(1) saturate(8);
  }
  
  100% {
    -webkit-filter: sepia(0) saturate(2);
  }
}
/* Liquidity Page */

.leading-26px {
  line-height: 26px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-input:checked + .toggle {
  background-color: #aefd72;
}

.toggle-input:focus + .toggle {
  box-shadow: 0 0 1px #aefd72;
}

.toggle-input:checked + .toggle:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.liquidity-container input,
.liquidity-container input:focus {
  -webkit-appearance: none;
  border: none;
  border-width: 0;
  box-shadow: none;
  outline: none;
}

.negative {
  color: #ed34a5;
}

.positive {
  color: #27ba80;
}

/* token select */

.token-select-container {
  z-index: 100;
  left: 50%;
}

.token-select-container td:first-child,
.token-select-container th:first-child {
  @apply pl-20px;
}

.token-select-container td:nth-child(2),
.token-select-container th:nth-child(2) {
  @apply pr-20px;
}

.token-select-container tr {
  border-bottom: 1px solid #f3f3f3;
}


/* purgecss end ignore */
